
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}

html, body, #root{
  height: 100%;
}
